<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.schalter.losungen2">

    <!-- to download daily words and sermon -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Permission to start Alarm for notification on device reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="androidx.multidex.MultiDexApplication"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2270371481189370~4191783045" />

        <activity
            android:name="de.schalter.losungen2.widgets.AppWidgetActivity"
            android:label="@string/title_activity_app_widget" />
        <activity android:name="de.schalter.losungen2.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.schalter.losungen2.screens.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />

        <provider
            android:authorities="de.schalter.losungen.file.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="de.schalter.losungen2.sermon.mediaPlayer.MediaPlayerService"
            android:enabled="true" />
        <service
            android:name="de.schalter.losungen2.sermon.sermonProvider.SermonProviderService"
            android:enabled="true" />

        <receiver android:name="de.schalter.losungen2.widgets.WidgetBroadcast">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <!-- Daily notifications -->
        <receiver android:name="de.schalter.losungen2.backgroundTasks.dailyNotifications.NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- Will not be called unless the application explicitly enables it -->
        <receiver
            android:name="de.schalter.losungen2.backgroundTasks.dailyNotifications.DeviceBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>